.l-content-fixed {
	width: 980px;
	margin: 0 auto;
}
.l-content-expanded {
	width: auto;
	margin: 0;
}
#content {
	margin-top: 40px;
	margin-bottom: 120px;
}
#content::after {
	content: "";
	display: block;
	clear: both;
}
.l-main {
	float: left;
	width: 630px;
}
.l-sidebar {
	float: right;
	width: 260px;
}
