.sub-nav, .sub-nav a {
  color: #333;
}
.sub-nav+.sub-nav {
  margin-top: 4em;
}
.sub-nav-title {
  margin: 0;
  font-size: 1.375em;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}
.sub-nav-subtitle {
  padding-bottom: 0.5em;
  border-bottom: 4px solid #7EDBB8;
  font-size: 0.75em;
}
.sub-nav-info {
  width: calc(100% - (70px + 1em));
  font-size: 0.875em;
}
.sub-nav-info time {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #999;
  font-size: 0.9286em;
}
.sub-nav-info p {
  line-height: 1.5;
}
